:root {
    --light-purple: #fde6fe;
    --purple: rgb(102, 76.5, 127.5);
    --dark-purple: #0c000d;
}

@font-face {
    font-family: 'pixel';
    src: url('pixel.ttf') format('truetype');
}

body {
    background-color: var(--purple);
    font-family: 'pixel', sans-serif;
    font-size: 1.5rem;
}

#title {
    color: var(--dark-purple);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% - 300px));
}

#canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% + 25px));
}

#scoreboard {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 640px;
    height: 480px;


    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
}

#scoreboard div {
    width: 100px;
    display: flex;
    justify-content: center;
    transform: translate(0, -150px);

    color: var(--purple);
    font-size: 3rem;
    font-weight: bold;

}